div.card {
    height: 100%;
}

div.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

h3 {
    margin: 0 auto;
    cursor: pointer;
}

.movie-poster {
    display: flex;
    flex-direction: column;
    margin: auto;
}

img {
    object-fit: contain;
    width: 100%;
    height: 320px;
    cursor: pointer;
}