<div class="card">
    <div class="card-header d-flex justify-content-between">
        <span>Cart Summary</span>
        
        <button *ngIf="rentalList && rentalList.length && !showDetailedList" (click)="handleCheckout()" class="btn btn-primary">Checkout</button>
    </div>
    <div class="card-body text-dark d-flex flex-column gap-3">
        <div class="d-flex flex-column gap-2 rental-list">
            <div *ngFor="let rental of rentalList | sort" class="d-flex gap-2 rental-row" [ngClass]="{ 'p-2': !showDetailedList, 'ps-3 pe-3': showDetailedList }">
                <button (click)="showDetails(rental)" class="btn btn-link d-flex justify-content-start align-items-center" [ngClass]="{ 'col-11': !showDetailedList, 'col-3': showDetailedList }">{{rental.title}}</button>
                <ng-container *ngIf="showDetailedList">
                    <fb-stars [movie]="rental" class="d-flex justify-content-start align-items-center col-2"></fb-stars>
                    <div class="col-4"></div>
                    <div class="d-flex align-items-center col-2">{{ rental.cost | currency }}</div>
                </ng-container>
                <mat-icon (click)="handleDelete(rental)" class="d-flex justify-content-end col-1">delete</mat-icon>
            </div>
        </div>
    </div>
</div>
